<div class="alert error animated fade-in" >
  <div class="close cursor-pointer flex justify-center items-center w-full h-20 p-2 bg-red-500 rounded shadow-lg text-white" title="close">
    <span role="alert"><%= @title %> </span>
    <svg class="fill-current text-white flex justify-center items-center absolute top-5 right-5" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
      <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
    </svg>
  </div>
</div>